.landing-page {
    width: 90%;
    height: 100vh;
    color: #000;
    background-color: #FCFCFC;
    padding: 20rem 14rem;
    border: 1px solid #0000003c;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 0 auto;
}

.emoji {
    display: inline-block;
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
    transition: all ease 0.4s;
    font-size: 2.5rem;
}

.emoji:hover {
    font-size: 3.5rem;
    transition: all ease 0.4s;

}

@keyframes waving-hand {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4.0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.divider {
    border-top: 1px solid #3f3f3f;
    margin-top: 8rem;
}