.name{
    margin-left: 32px;
    font-size: larger;
}

nav{
    position: sticky;
    top: 3.5vh;
    z-index: 999;
    padding: 0.5vw 0.5vw;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7.5px);
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid #E4E4E4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.links {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.links h4 {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 50px;
    font-weight: 500;
    color: #8E8E8E;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.links h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.links h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.links h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

.links h4:hover a {
    color: #fff;
}

.linkContact {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    background-color: #000;
    transition: all ease 0.4s;
    margin-left: 32px;
}

.linkContact:hover {
    padding-left: 32px;
    padding-right: 32px;
    transition: all ease 0.4s;
}
